<header class="encabezado">
    <div class="titulo">
        <h2>{{titulo}}</h2>
    </div>
    <div class="menu">
        <a href="#">Pagina principal</a>
        <p>|</p>
        <a href="#">Pastor Aleman</a>
        <p>|</p>
        <a href="#">Chiguagua</a>
    </div>
</header>